body {
width: 100%

}

nav {
font-family: 'Titillium Web', sans-serif;
color: #001365;
background-color: #efefef;
}

.nav-link {
    margin-right: 20px;
    }

.nav-link h5 {
    font-family: 'Titillium Web', sans-serif;
    color: #001365;
    }

.nav-link h5:hover {
    font-family: 'Titillium Web', sans-serif;
    color: #eeeeee;
    background-color: #001365;
    }

.nav-link:hover {
        background-color: #001365;
        }

#nav-fb {
    margin-right: 0px;
    }
    
.footer {
    position: absolute;
    padding: 10px;
    bottom: 0;
    width: 100%;
    background: #efefef;
    text-align: center;
    color: #001365;
    float: left;
}

.pFooter {
    font-size: 12px;
    margin: 0px;
    line-height: 1.5em;
}

.footerImage {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

h3, {
    color: #001365;
}

#portal-div{
    color:#3e3e3e;
}