body {
width: 100%;
}

/* 01 Nav */
nav {
font-family: 'Titillium Web', sans-serif;
color: #001365;
background-color: #efefef;
border-bottom: 2px solid #001365;
}

.nav-link {
    margin-right: 15px;
    }

.nav-link h5 {
    font-family: 'Titillium Web', sans-serif;
    color: #001365;
    }

.nav-link h5:hover {
    font-family: 'Titillium Web', sans-serif;
    color: #eeeeee;
    background-color: #001365;
    }

.nav-link:hover {
    background-color: #001365;
        }

#nav-fb {
    margin-right: 10px;
    margin-top: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    }

#nav-tiag {
    margin-top: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    }

/* 02 Main Section */

    #main h4 {
        margin-top: 100px;
        color: #001365;
        font-family: 'Titillium Web', sans-serif;
    }
    
    #leadText {
        font-family: 'Open Sans', sans-serif;
        color: #3e3e3e;
    }
    
    #mainBottomImage {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }


/* 03 Why Section*/

#challengesHeader {
    margin-top: 15px;
    font-family: 'Titillium Web', sans-serif;
    color: #eeeeee;
    background-color: #001365;
}

#solutionHeader {
    margin-top: 10px;
    font-family: 'Titillium Web', sans-serif;
    color: #eeeeee;
    background-color: #001365;
}

#challengeStatement {
    font-family: 'Open Sans', sans-serif;
    color: #3e3e3e;
}

#solutionStatement {
    font-family: 'Open Sans', sans-serif;
    color: #3e3e3e;
}

#stressSubHeader {
    color: #001365;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
}

#challengesSubHeader {
    color: #001365;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
}

#whymResSubHeader {
    color: #001365;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
}

#programSubHeader {
    color: #001365;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
}

#visionSubHeader {
    color: #001365;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
}

/* Bullet points of Why Section*/


#stressbullets {
    font-family: 'Open Sans', sans-serif;
    color: #3e3e3e; 
}

#stressbullets2 {
    font-family: 'Open Sans', sans-serif;
    color: #3e3e3e; 
}

#challengebullets {
    font-family: 'Open Sans', sans-serif;
    color: #3e3e3e; 
}

#solutionbullets {
    font-family: 'Open Sans', sans-serif;
    color: #3e3e3e; 
}

#whyBullets {
    font-family: 'Open Sans', sans-serif;
    color: #3e3e3e; 
}

#offerBullets {
    font-family: 'Open Sans', sans-serif;
    color: #3e3e3e;
}

#visionBullets {
    font-family: 'Open Sans', sans-serif;
    color: #3e3e3e;
}



/* want to learn more and form */

#learn-more{
    margin-left:1em;
}

#back-form{
    margin-left:2em;
}
#learn-more.container.learn-more{
    margin-top: 3em;
    display: flex;
}

#learn-more.container h5{
    color: #001365;
}

#learn-more h5{
    width: 50%;
    color:#3e3e3e;
}

div.form-group.row div.col-lg-12 input{
    border-style: none;
    border-bottom: 1px solid #ced4da;
    margin-bottom: .25em;
}

div.form-group.row{
    margin-bottom: .25em;
}

#message{
    border-radius: 8px;
    height: 8em;
}

#send{
    width: 100%;
    margin-bottom: 1em;
    background-color: #001365;
    border-radius:8px;
}

#send:hover{
    background-color: #EFEFEF;
    color:#001365;
}

/*Footer*/

.footer {
    padding: 10px;
    bottom: 0;
    width: 100%;
    background: #efefef;
    text-align: center;
    color: #001365;
    float: left;
}

.pFooter {
    font-size: 12px;
    margin: 0px;
    line-height: 1.5em;
}

.footerImage {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    color: #001365;
}

#portal-div{
    color:#3e3e3e;
}
